{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     
    <h1 class="text-center fw-bold title">A propos de nous !</h1>
    
    <div class="row  justify-content-center pt-4">  
        <img class="w-50 h-50 col-md-6 zoom" src="{{ asset('build/images/equipe.jpg')}}" >
    
        <div class="col-12 col-md-6  px-4 fs-6">
            <p>Bienvenue chez Pan Afrique Investment Consultants,  votre porte d’entrée pour explorer les opportunités d’affaires en Afrique.
                Nous fournissons des services de conseil et des ressources sur mesure et rentables pour vous aider à réussir sur les marchés en croissance de l’Afrique. 
                Notre équipe possède l’expérience et le savoir-faire pour vous aider à réussir. Contactez-nous dès aujourd’hui pour commencer votre parcours et libérer votre potentiel commercial.<br><br>
                Si vous êtes en Afrique et que vous voulez venir en France et explorer les opportunités d’affaires passionnantes disponibles. Notre équipe de professionnels vous guidera tout au long du processus, du début à la fin.
                Nous mettons à votre disposition les ressources et l’expertise nécessaires à la croissance de votre entreprise en France. Laissez-nous vous aider à réaliser vos ambitions et à transformer vos rêves en réalité.<br><br>
                Pan Afrique Investissement Consultants se spécialise dans la planification d’événements en mettant l’accent sur les cultures et les communautés africaines. 
                Notre équipe de consultants professionnels s’occupe de tout, de la sélection des lieux à la restauration et au divertissement, pour assurer l’atmosphère parfaite pour votre occasion spéciale.<br><br>
                Laissez-nous vous aider à créer une expérience inoubliable pour votre événement spécial.
                Pan Afrique Investissement Consultants fournit des conseils d’experts aux entreprises qui souhaitent tirer parti du potentiel d’exportation et d’importation de crobs en Afrique.
                Nos services complets couvrent tout, de l’analyse de marché à l’approvisionnement en matières premières, vous aidant à obtenir le meilleur du marché africain. Laissez-nous vous aider à porter votre entreprise vers de nouveaux sommets
            </p>
        </div>
    </div>
</div>
{% endblock %}
