<h1>confirmation e-mail</h1>

<p>
    Veuillez confirmer votre adresse courriel en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
   Ce lien expire dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


