{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
    <h1 class="row justify-content-center">Nos services</h1>

    <h4>Planification d’événements</h4><br>
        <div class="d-flex">
            <img class="col-md-3 pe-4" src="{{ asset('build/images/consulting.avif')}}" >
    
            <p>Organisation professionnelle de réunions et d’événements. Succès garanti! Nous planifions des événements incroyables. Nous créons des événements inoubliables et des spectacles qui impressionnent les invités Nous planifions des événements réussis. De la conception à l’achèvement.</p>
        </div>


    <br><h4>Conseil</h4><br>

        <div class="d-flex">
            <img class="col-md-3 pe-4" src="{{ asset('build/images/orga.jpg')}}" >
            <p>Services de conseil pour vous aider à comprendre et à naviguer sur les marchés africains. Conseil agri. import/export en Afrique. Faciliter le commerce et la croissance grâce à des conseils d’experts Conseil axé sur l’Afrique en France. Conseils sur l’investissement, le commerce et l’agriculture</p>
        </div>

    <br><h4>Témoignage clients</h4><br>

    <br><h4>Portfolio</h4><br>

</div>
{% endblock %}
