{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
    <h1>Nos services</h1>

    <h4>Planification d’événements</h4>
<p>Organisation professionnelle de réunions et d’événements. Succès garanti! Nous planifions des événements incroyables. Nous créons des événements inoubliables et des spectacles qui impressionnent les invités Nous planifions des événements réussis. De la conception à l’achèvement.</p>


<h4>Conseil</h4>
<p>Services de conseil pour vous aider à comprendre et à naviguer sur les marchés africains. Conseil agri. import/export en Afrique. Faciliter le commerce et la croissance grâce à des conseils d’experts Conseil axé sur l’Afrique en France. Conseils sur l’investissement, le commerce et l’agriculture</p>
    <h3>Témoignage clients</h3>

    <h3>Portfolio</h3>

</div>
{% endblock %}
