{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="row justify-content-center pt-5">
	
    <img class=" img-fluid w-25 h-50 m-5" src="{{ asset('build/images/contact.png')}}" >

        <div class="col-md-6">
        
            <h3 class="row justify-content-center">Une question? Contactez-nous!</h3>

            {{ form_start(contactForm, { 'attr': {'class': 'row' ,'novalidate': 'novalidate'} }) }}
             
            {{ form_end(contactForm) }}
        </div>

        <div class="col-10 row justify-content-center pt-4">
            <h3>Pan Afrique investissement consultants</h3>
            <h3>Nos Coordonées</h3>

                <div class="col-6">
                    
                    <p> 831 Boulevard Pierre Sauvaigo,<br> 06480 la colle sur loup, France</p>
                    
          
                    <p>France: +33 7 80 71 52 82 </p> 
          
                    <p>Nigéria : +234 80 37 87 72 81</p>
                    <p>Adresse mail : admin@paicfrance.com</p>
                    <p>Nos horraires : Mon-Fri - 08:00-19:00</p>
                    

                </div>	

                <div class="col-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.4403426526205!2d7.116795876079537!3d43.68060807110082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdd31ea25aa94b%3A0x92cf4b7af3805fe3!2s831%20Bd%20Pierre%20Sauvaigo%2C%2006480%20Saint-Paul-de-Vence!5e0!3m2!1sfr!2sfr!4v1713193699489!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </div>

		
	</div>

{% endblock %}
