{% extends 'base.html.twig' %}

{% block title %}Hello CGUController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    



    <h1> POLITIQUE DE CONFIDENTIALITE - CONDITIONS GENERALES D'UTILISATION </h1>

<p>Conditions Générales d'Utilisation (CGU)
Bienvenue chez Pan Afrique Investissement Consultants
Bienvenue sur le site web de Pan Afrique Investissement Consultants. En accédant à ce site, vous acceptez de vous conformer aux conditions générales d'utilisation énoncées ci-dessous. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.

Propriété intellectuelle
Le contenu de ce site, y compris mais sans s'y limiter, le texte, les graphiques, les images et les logos, est la propriété de Pan Afrique Investissement Consultants et est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer, afficher ou vendre le contenu de ce site sans l'autorisation écrite préalable de Pan Afrique Investissement Consultants.

Limitation de responsabilité
Pan Afrique Investissement Consultants s'efforce de fournir des informations exactes et à jour sur ce site, mais ne peut garantir l'exactitude, l'exhaustivité ou l'actualité de ces informations. En utilisant ce site, vous acceptez que Pan Afrique Investissement Consultants ne soit pas responsable des dommages directs, indirects, accessoires, consécutifs ou spéciaux résultant de votre utilisation de ce site.

Modifications des conditions d'utilisation
Pan Afrique Investissement Consultants se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur ce site. En continuant à utiliser ce site après la publication des modifications, vous acceptez les conditions d'utilisation modifiées.

Politique de Confidentialité
Collecte d'informations
Pan Afrique Investissement Consultants collecte des informations personnelles telles que votre nom, votre adresse e-mail et votre numéro de téléphone lorsque vous remplissez un formulaire sur ce site ou que vous nous contactez par e-mail. Ces informations sont utilisées dans le but de répondre à vos demandes et de vous fournir des services personnalisés.

Utilisation des informations
Les informations personnelles collectées par Pan Afrique Investissement Consultants ne seront pas vendues, échangées, transférées ou données à des tiers sans votre consentement explicite, sauf dans le but de répondre à une demande et / ou à une transaction, comme par exemple pour répondre à une demande de service.

Sécurité des informations
Pan Afrique Investissement Consultants s'engage à protéger la sécurité de vos informations personnelles. Nous mettons en œuvre des mesures de sécurité pour protéger vos informations contre tout accès non autorisé, toute altération, toute divulgation ou toute destruction.

Consentement
En utilisant ce site, vous consentez à notre politique de confidentialité.

Contactez-nous
Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante : [Votre adresse e-mail de contact].</p>



</div>
{% endblock %}
