{% extends 'base.html.twig' %}

{% block body %}
   
        <h1>Error general  </h1>

        <p>
            Error general <a href="{{path ('app_home') }}">return to the homepage</a>
        </p>
 
{% endblock %}