{% extends 'base.html.twig' %}

{% block body %}
   
        <h1>Acces refusé </h1>

        <p>
            Vous ne pouvez pas acceder a cette page<a href="{{path ('app_home') }}">return to the homepage</a>
        </p>
 
{% endblock %}