{#% include "flash.html.twig" %#}


<form method="POST" action="{{ path('app_article_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">

    <button class="btn btn-danger" aria-label="supprimer" >Supprimer</button>
  
</form>
