{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}

    {#% include "flash.html.twig" %#}

    <h2 class="text-center title2">Modifier Article</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 ">

                {{ include('article/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                
                <a class="btn bouton mt-2 mb-2" href="{{ path('app_article_index') }}">Retour à la liste</a>
                
                {{ include('article/_delete_form.html.twig') }}
            </div>
                
            
        </div>

    </div>


{% endblock %}
