{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="row justify-content-center">Créer un nouvel Article</h1>
    <div class="row justify-content-center col-10  px-2">
    
    {#% include "flash.html.twig" %#}

    {{ include('article/_form.html.twig') }}
    </div><br>
    <a class="btn btn-success" href="{{ path('app_article_index') }}">retour à la liste</a>
    
{% endblock %}